/*Font Family Abel*/
@font-face{
	font-family: Abel;
	src:url('../../fonts/Abel/Abel-Regular.ttf');
}

/*Font Family Anton*/
@font-face{
	font-family: Anton;
	src:url('../../fonts/Anton/Anton-Regular.ttf');
}

/*Font Family Josefin*/
@font-face{
	font-family: Josefin;
	src:url('../../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

/*Font Family Lexend*/
@font-face{
	font-family: Lexend;
	src:url('../../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

/*Font Family Livvic*/
@font-face{
	font-family: Livvic;
	src:url('../../fonts/Livvic/Livvic-Regular.ttf');
}